<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/all")
</head>
<body ng-controller="initialController as self" class="body-content">
    <div>
        This is from the Index.cshtml
    </div>
    <div class="container">
        <div ng-view id="main"></div>
    </div>
    @Scripts.Render("~/bundles/controllers")
    <script src="~/ScriptsAppSpecific/appServices.js"></script>
    <div>
        This is the bottom of the Index.cshtml
    </div>
</body>
</html>