<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/all")
</head>
<body ng-controller="initialController as self" class="body-content">
    <a href="/">Home</a>
    <a href="/createContact">New Contact</a>
    <div class="container">
        <div ng-view class="body-content"></div>
    </div>
    @Scripts.Render("~/bundles/controllers")
    <script src="~/ScriptsAppSpecific/appServices.js"></script>
</body>
</html>