<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato" rel="stylesheet">
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/all")
</head>
<body ng-controller="initialController as self" class="body-content">
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" id="appName" href="/"><span>P</span>ublic <span>E</span>mergency <span>N</span>otification <span>S</span>ystem</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div>
                    <ul class="navbar-nav" id="itemsLeftNav"> 
                        <li class="nav-item">                           
                            <a class="nav-link" href="/"><span class="navLinks">Home</span></a>
                        </li>              
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="navLinks">Contacts</span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="/createContact">Create Contact</a></li>
                                <li class="dropdown-item"><a href="/searchContact">Search Contacts</a></li>                          
                            </ul>
                        </li>                     
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--End Navigation-->
    <div ng-view class="body-content"></div>
    <footer class="container">
        This is a disclaimer. Do not use system for emergency response untill fully tested!!
        <br />
        Copyright &copy; 2018 Adam Perry, Mitchell Williams, Rebe Legoullon, Jesse Siebeck
    </footer>
    @Scripts.Render("~/bundles/controllers")
    <script src="~/ScriptsAppSpecific/appServices.js"></script>
</body>
</html>