body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    min-height: 825px;
    min-width: 600px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*.modal {
    display: block;
}*/

.loading-modal {
    width: 325px;
    height: 325px;
    top: 30%;
    position: fixed;
    z-index: 1050;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
 
/*/////////////// Adam added form for createContact.html /////////////////*/
.topBorder{
    border-top: 1px solid black;
}

.leftBorder{
    border-left: 1px solid black;
}

.rightBorder{
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.form-cell{
    height: 85px; 
}

.form-textCell{
    height: 170px;
}

label{
    padding-top: 5px;
    font-weight: bolder;
}

.row{
    margin: 0px 15px;
    height: 85px
}

form{
    min-width: 80px;
}
/*end form createContact.html*/

/*//////////// Nav Bar CSS ///////////////////////*/
nav{
    background-color: #0069aa;
    height: 100px;
}

.navLinks{
    font-size: 20px;
    color:white;
    font-family: 'Lato', sans-serif;
}

.nav-item{
    padding-top: 13px;
}

.navLinks:hover{
    text-decoration: underline;
}

.nav-item:hover{
    text-decoration: underline;
}

#itemsLeftNav{
    margin-left: 10px;
}

nav .container{
    max-width: 1920px;
}

.dropdown-item a {
    color: black;
}

.dropdown-item:active{
    background-color: white;
}

#appName{
    font-size: 25px;
    color: #75a4e5;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

#appName span{
    font-size: 35px;
    color: white;
}
/*End Nav Bar CSS*/

/*////////// Search Contact Grid ///////////////////*/
.myGrid{
    width: 100%;
    height: 660px;
}

.updateGrid{
    width: 100%;
    height: 275px;
}

.grid-label{
    display: inline-block;
    width: 90%;
    padding: 2px 3px 2px 3px;
    font-weight: bold;
    border-radius: 3px;
    color: black;
}

.grid-align{
    text-align: center;
}

.grid-label-warning{
    background-color: #f0ad4e;
}

.grid-label-success{
    background-color: green;
}

.grid-label-danger {
    background-color: #FF0033;
}

.grid-label-pending{
    background-color: cyan;
}

/*End Search Contact Grid*/

/*/////////////////////// Google Maps CSS ///////////////////////////////*/
#map-canvas{
    margin: auto;
    height: 500px;
    width: 1000px;
    box-shadow: 0px 0px 20px 5px gray;
}

.map-control {
    background-color: #fff;   
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: 'Roboto','sans-serif';
    margin: 5px;
    display: none; /*Hide controller till map loads*/
}
/* Display the control once it is inside the map. */
#map-canvas .map-control { 
    display: block;
}

.selector-control {
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
/*#map-canvas #searchInput{
    display: block;
}*/

#searchInput{
    background-color: lightgoldenrodyellow;   
    font-size: 20px;
    margin-left: 0px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 500px;
    /*box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);*/
    color: black;
    height: 40px;
    margin-top: 5px;
}

 #infowindow-content .title {  /*for bolding input as you type*/
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}


/*End Google Maps CSS*/


/*//////////Styling for Login Page////////////////*/
.login-box{
    padding-top: 50px;
    background-color: #cecece;
    padding-bottom: 50px;
    border-radius: 15px
}

.login-input{
    display:inline-block;
    max-width: 200px;
}

.login-error{
    color: red;
    height: 35px;
}

/*//////////End Login Page/////////////////////*/

/*modal designs*/
#ModalTitle{
    /*padding-left: 75px;*/
    margin: auto;
    text-align: center;
}