body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    min-height: 825px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
 
/*Adam added for for createContact.html*/
.topBorder{
    border-top: 1px solid black;
}

.leftBorder{
    border-left: 1px solid black;
}

.rightBorder{
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.form-cell{
    height: 85px; 
}

label{
    padding-top: 5px;
    font-weight: bolder;
}

.row{
    margin: 0px 15px;
    height: 85px
}

form{
    min-width: 80px;
}
/*end form createContact.html*/

/*Nav Bar CSS*/
nav{
    background-color: #0069aa;
    height: 100px;
}

.navLinks{
    font-size: 20px;
    color:white;
    font-family: 'Lato', sans-serif;
}

.nav-item{
    padding-top: 13px;
}

.navLinks:hover{
    text-decoration: underline;
}

.nav-item:hover{
    text-decoration: underline;
}

#itemsLeftNav{
    margin-left: 10px;
}

nav .container{
    max-width: 1920px;
}

.dropdown-item a {
    color: black;
}

#appName{
    font-size: 25px;
    color: #75a4e5;
    font-style: italic;
     font-family: 'Lato', sans-serif;
}

#appName span{
    font-size: 35px;
    color: white;
}
/*End Nav Bar CSS*/

